* {
  box-sizing: border-box;
}

body {
  background: rgb(112,104,240);
  background: linear-gradient(90deg, rgba(112,104,240,1) 0%, rgba(255,100,180,1) 49%, rgba(255,217,74,1) 100%);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
}

.card {
  flex: 1;
  max-width: 800px;
  min-height: max(90vh, 600px);     /* the minimum height is the biggest number between the two values given depending on the viewport */
  background-color: rgb(27, 9, 59);
  border-radius: 1rem;
  padding: 1rem;
}

h1 {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  color: white;
  font-size: 40px;
}

.players {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 2rem;
}

.players-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.player {
  color: white;
  margin-bottom: 1rem;
}

img {
  max-width: 4rem;
}

.description img {
  transition: all 0.2s ease-in-out;
}

.description img:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

 button {
  background-color: rgb(146, 93, 221);
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  transition: all 250ms;
  margin: 0;
  padding: 1rem 2rem;
}


#reset {
  margin-top: 2rem;
  background-color: rgb(27, 9, 59);
  border: 1px solid white;
  font-size: 14px;
  padding: 0.75rem 1rem;
}

button:hover,
#reset:hover {
  border-color: rgba(255, 255, 255, 0.15);
  box-shadow: rgba(255, 255, 255, 0.433) 0 4px 12px;
  color: rgba(0, 0, 0, 0.799);
}

#reset:hover {
  color:rgb(248, 137, 105);
}

button:active,
#reset:active {
  background-color: rgb(248, 137, 105);
  box-shadow: rgba(0, 0, 0, 0.06) 0 6px 8px;
  color: rgba(255, 254, 254, 0.841);
  transform: translateY(0);
  transition: 250ms;
}


.game-logic {
  display: flex;
  align-items: start;
  gap: 32px;
  padding-bottom: 1rem;
  margin: 2rem;
}

.scores-container {
  flex: 1;
}

p.scores {
  color: white;
}

.scores-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50%);
  max-width: 300px;
  min-height: 170px;
  background-color:#a167dc;
  color: white;
  border-radius: 0.75rem;
  padding: 1rem 0.5rem;
}

.score-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  flex: 1;
  padding-right: 1rem;
}

.user-message {
  color: white;
  text-align: center;
}

.grid {
  max-width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  max-height: 200px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

.box:nth-child(3n) {
  border-right: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  border-bottom: none;
}

@media (max-width: 800px) {
  .game-logic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .scores-container {
    margin-bottom: 3rem;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .scores-box {
    width: 100%;
  }

  .game-container {
    width: 100%;

  }
}

/* TODO: */
/* change background of cells to show winner */